<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>wifi</string>
    <key>CFBundleIdentifier</key>
    <string>com.christiaanboersma.wifi</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CFBundleExecutable</key>
    <string>wifi</string>
    <key>CFBundleIconFile</key>
    <string>wifi</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>WiFi needs access to your location to retrieve WiFi details.</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
</dict>
</plist>
